{% extends "base.html" %}
{% block title %}
  Записи сообщества {{group.title}} 
{% endblock %}
{% block header %}
  {{group}}
{% endblock %}


{%block content%}
  <h1>{{ group.title }}</h1>
  <h1> 
    Записи сообщества {{group.title}}
  </h1>
 <p>
   {{group.description|linebreaksbr}}
 </p>
  {% for post in page %}
  <h1>
    Автор:<a href = "{% url 'posts:profile' post.author.username %}" ><strong class="d-block text-gray-dark">{{post.author.username}}</strong></a>  
    Дата публикации: {{post.pub_date|date:"d M Y"}}  
  </h1>
  <p>
    {{post.text|linebreaksbr}}
  </p>
  <hr>
  {% endfor %}
  {% include "paginator.html" %}
{% endblock %}
