{% extends "base.html" %}
{% block title %}
  Последние обновления на сайте
{% endblock %}

{% block content %}
  {% for post in page %}
  <h3>
      Автор: {{ post.author.get_full_name }},
      <a href = "{% url 'posts:profile' post.author.username %}" ><strong class="d-block text-gray-dark">@{{post.author.username}}</strong></a>
      Дата публикации: {{ post.pub_date|date:"d M Y" }} </br>
      {%if post.group != None %}
      Группа: <a href = "{% url 'posts:group' post.group.slug %}" >{{post.group}}</a>
      {% endif %}
      
  </h3>
  <p>
      {{ post.text|linebreaksbr }}
  </p>
  <a href = "{% url 'posts:post' post.author.username post.id %}" >Посмотреть</a>
  {% if not forloop.last %}
  <hr>
  {% endif %}
  {% endfor %}

  {% include "paginator.html" %}
  
{% endblock %} 